
.leaderboard-view {
    max-width: 700px;
    width: 50%;

    .leaderboard-title {
        background-color: #007C63;
        border: solid 4px #005e49;
        margin: 0 0 -20px 0;
        z-index: 1;
        padding: 10px 30px;
        border-radius: 30px;
        color: #ffffff;
    }

    .leaderboard-list {
        width: 100%;
        flex-direction: column;
        background-color: #007C63;
        border: solid 2px #005e49;
        border-radius: 10px;
        padding: 20px 10px;
    }
}